:root {
  --Primary-Brand-cl: #4d5ae5;
  --Pressed-state-cl: #404bbf;
  --Dark-cl: #2e2f42;
  --Text-cl: #434455;
  --Light-cl: #f4f4fd;
  --Hero-background-cl: #2e2f42;
  --White-background-cl: #ffffff;
  --light-bg-cl: #f4f4fd;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: var(--White-background-cl);
}

/*Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}
.list {
  list-style: none;
}

.btn {
  cursor: pointer;
  font-family: inherit;
}
.container {
  width: 1158px;

  padding: 0 15px;

  margin: 0 auto;
}

/* styls header*/
.header {
  background-color: var(--White-background-cl);
}
.header-container {
  display: flex;
  width: 1158px;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 15px;
  padding-left: 15px;
}
.page-nav {
  display: flex;
}

.header-list {
  display: flex;
  gap: 40px;
}
.address-page {
  display: flex;
  gap: 40px;

  margin-right: 156px;
}

.logo,
.footer-logo-accent,
.logo-accent {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.logo {
  color: var(--Primary-Brand-cl);
  margin-right: 76px;
  margin-left: 156px;
}
.logo-accent {
  color: var(--Dark-cl);
}
.header-address-list {
  font-style: normal;
}
.header-list-link {
  font-weight: 500;
  color: var(--Dark-cl);
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--Pressed-state-cl);
}
.header-address {
  font-weight: 400;
  color: var(--Text-cl);
}

.header-address:hover,
.header-address:focus {
  color: var(--Pressed-state-cl);
}
/*hero-section style*/
.hero-section {
  max-height: 600px;
  background-color: var(--Hero-background-cl);
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
  padding-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
}

.hero-btn {
  background-color: var(--Primary-Brand-cl);
  color: var(--White-background-cl);
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--Pressed-state-cl);
}
/*features-section*/

.features-section {
  background-color: var(--White-background-cl);
  display: block;
}
.features-list {
  display: flex;
  gap: 24px;
  margin-top: 120px;
  margin-bottom: 120px;
}
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--Dark-cl);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.features-text {
  color: var(--Text-cl);
}
/*do section*/
.do-saction {
  background-color: var(--White-background-cl);
  display: block;
  padding-bottom: 120px;
}
.do-title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--Dark-cl);
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.do-list {
  display: flex;
  gap: 24px;
}
.do-img {
  border: 1px solid #e7e9fc;
  flex-basis: calc((100% - 48px) / 3);
}
/*Section Our Team styles*/

.team-saction {
  background-color: var(--light-bg-cl);
  height: 732px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  color: var(--Dark-cl);
  text-align: center;
  letter-spacing: 0.02em;
  display: block;
  margin: 0 auto;
  padding: 120px 0 72px 0;
}
.team-list {
  background-color: var(--White-background-cl);
}
.tea-container {
  display: flex;
  gap: 24px;
}
.card {
  max-width: 264px;
  height: 380px;
  margin: 0 auto;
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 120px;
  overflow: hidden;
}
.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 32px;
}
.name-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--Dark-cl);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-left: 65px;
}

.name-text {
  line-height: 1.5;
  color: var(--Text-cl);
}

/*main styles*/
.main {
  background-color: var(--White-background-cl);
}
.title {
}
.portfolio-filter {
}
.list {
}
.portfolio-filter-item {
}
/*portfolio page buttons*/
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--Primary-Brand-cl);
  text-align: center;
  background-color: var(--light-bg-cl);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--Pressed-state-cl);
  color: var(--White-background-cl);
}

/*Portfolio photo*/
.portfolio-list {
}

.portfolio-list-item {
}
.portfolio-link {
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--Dark-cl);
}
.portfolio-text {
  color: var(--Text-cl);
}
/*footer stylse*/
.footer {
  background-color: var(--Dark-cl);
}

.footer-logo-accent {
  color: var(--Light-cl);
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
}

.footer-text {
  color: #f4f4fd;
}
